mixin proposal__img(modifier)
  if modifier.imgName == undefined
      - modifier.imgName = "pagoda";
  case modifier.imgName
    when 'pagoda'
      img(src=require('../../img/proposals/pagoda.png') width="300" height="200" alt="pagoda" class='proposal__img')&attributes(attributes)
    when 'colored_wall'
      img(src=require('../../img/proposals/colored_wall.png') width="300" height="200" alt="colored_wall" class='proposal__img')&attributes(attributes)
    when 'home_blue_sky'
      img(src=require('../../img/proposals/home_blue_sky.png') width="540" height="380" alt="home_blue_sky" class='proposal__img')&attributes(attributes)
    when 'laptop'
      img(src=require('../../img/proposals/laptop.png') width="300" height="200" alt="laptop" class='proposal__img')&attributes(attributes)
    when 'laptops'
      img(src=require('../../img/proposals/laptops.png') width="300" height="200" alt="laptops" class='proposal__img')&attributes(attributes)
    when 'paporotnik'
      img(src=require('../../img/proposals/paporotnik.png') width="300" height="200" alt="paporotnik" class='proposal__img')&attributes(attributes)
    when 'pencil_and_ruller'
      img(src=require('../../img/proposals/pencil_and_ruller.png') width="300" height="200" alt="pencil_and_ruller" class='proposal__img')&attributes(attributes)
    when 'rubber'
      img(src=require('../../img/proposals/rubber.png') width="300" height="200" alt="rubber" class='proposal__img')&attributes(attributes)
    when 'submarine'
      img(src=require('../../img/proposals/submarine.png') width="300" height="200" alt="submarine" class='proposal__img')&attributes(attributes)
